section{
	min-height: 500px;
}

.footer{
	height: 150px;
	background-color: #F8F8F8;
}

.img-md-wd{
	width: 400px;
	height: 300px;
}

.img-sm{
	width: 50px;
	heigth: 50px;
}

.img-xs{
	width: 25px;
	heigth: 25px;
}

.inline-block{
	display: inline-block;
}

.justify{
	text-align: justify;
}

.over{
	position: absolute;
	top: 15px;
	z-index: 2;
}

.left{
	float: left;
}

.right{
	float: right;
}