<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="master">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="page-header">
					<h4 th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">Olá usuário.</h4>
					<h4 th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Olá administrador.</h4>
				</div>
			</div>
		</div>
		
		<div class="row">
		  <div class="col-sm-6 col-md-4 col-lg-3 col-lg-offset-3">
		    <div class="thumbnail">
		      <img th:class="'img-thumbnail img-md-wd'" th:src="@{/images/qualidade2.png}" />
		      <div class="caption">
		        <h2 class="inline-block">
					<img class="img-sm" th:src="@{/images/qualidade.png}" />
					Qualidade
				</h2>
				<p class="justify">A Lavanderia Crescer conta com as recentes tecnologias e técnicas de lavagem, garantindo os melhores níveis de qualidade e oferecendo aos nossos clientes a agilidade e segurança desejadas.</p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4 col-lg-3">
		    <div class="thumbnail">
		      <img th:class="'img-thumbnail img-md-wd'" th:src="@{/images/ambiental.png}" />
		      <div class="caption">
		        <h2 class="inline-block">
					<img class="img-sm" th:src="@{/images/leaf.png}" />
					Meio-Ambiente
				</h2>
				<p class="justify">A Lavanderia Crescer acredita no compromisso com o meio ambiente, por isso foi buscar o mais avançado e conhecido sistema de limpeza do mundo, o Wet Cleaning. Seu processo computadorizado, munido de sensores e dosadores especiais, limpa e hidrata a roupa sem danificá-la. Esse recurso dispensa também o uso de solventes à base de petróleo, pois utiliza a água como agente de limpeza. Além disso, adota produtos biodegradáveis que não agridem o meio ambiente e evitam a bioacumulação nas espécies aquáticas. O sistema ainda colabora por não provocar chuvas ácidas e por diminuir os impactos do efeito estufa.</p>
		      </div>
		    </div>
		  </div>
		</div>
	</section>
</body>
</html>