<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="master">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>
	<section layout:fragment="content">
		<p th:if="${param.logout}" class="alert">Logout feito com sucesso</p>
		<p th:if="${param.error}" class="alert alert-error">Login incorreto. Tente novamente !</p>
		
		<h2>Login</h2>
		
		<form class="form-inline" name="form" th:action="@{/login}" action="/login" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" name="username" placeholder="Username" />
				<input class="form-control" type="password" name="password" placeholder="Password" />
				<input type="submit" id="login" value="Login" class="btn btn-primary" />
			</div>
		</form>
	</section>
</body>
</html>