@{
    ViewBag.Titulo = "Titulo no navegador";
}

<h2>Exemplo3 COM PÁGINA DE LAYOUT! uHUUL</h2>

<div style="margin: 50px; border: 5px solid green;">
    Mensagem do DIOGO (não fui eu que falei, foi ele): 
    <h3>@ViewBag.Mensagem</h3>
</div>