<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="@{/master}">
<head>
<meta charset="UTF-8" />
<title>Editar</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form" th:action="@{/Clientes/Editar}" th:object="${cliente}" method="post">
					<input th:field="*{id}" type="hidden" />
					<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? 'has-error'">
						<label class="control-label">Nome:</label>
						<input class="form-control" th:field="*{nome}" type="text" placeholder="Nome" />
						<span class="help-inline" th:errors="*{nome}"></span>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('cpf')} ? 'has-error'">
						<label class="control-label">Cpf:</label>
						<input class="form-control" th:field="*{cpf}" type="text" placeholder="Cpf" maxlength="11" />
						<span class="help-inline" th:errors="*{cpf}"></span>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
						<label class="control-label">Email:</label>
						<input class="form-control" th:field="*{email}" type="email" placeholder="exemplo@exemplo.com" />
						<span class="help-inline" th:errors="*{email}"></span>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('endereco')} ? 'has-error'">
						<label class="control-label">Endereço:</label>
						<input class="form-control" th:field="*{endereco}" type="text" placeholder="Endereço" />
						<span class="help-inline" th:errors="*{endereco}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Cep:</label>
						<input class="form-control" th:field="*{cep}" type="text" placeholder="Cep" />
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('bairro')} ? 'has-error'">
						<div class="row">
							<div class="col-lg-6">
								<label class="control-label">Bairro:</label>
								<input class="form-control" th:field="*{bairro}" type="text" placeholder="Bairro" />
								<span class="help-inline" th:errors="*{bairro}"></span>
							</div>
							<div class="col-lg-6">
								<label class="control-label">Cidade:</label>
								<select class="form-control" th:field="*{idCidade}">
					                <option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.id}" >Cidade</option>
					            </select>
							</div>
						</div>
					</div>
					<div class="form-group text-right">
						<input class="btn btn-success" type="submit" value="Salvar" />
					</div>
				</form>
			</div>
		</div>
	</section>
</body>
</html>