<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="@{/master}">
<head>
<meta charset="UTF-8" />
<title>Detalhes</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 text-left">
				<table th:object="${cliente}" class="table table-responsive table-bordered">
					<tr>
						<th colspan="2">Dados do Cliente</th>
					</tr>
					<tr>
						<td>ID:</td>
						<td th:text="*{id}">id</td>
					</tr>
					<tr>
						<td>Nome:</td>
						<td th:text="*{nome}">nome</td>
					</tr>
					<tr>
						<td>Email:</td>
						<td th:text="*{email}">email</td>
					</tr>
					<tr>
						<td>Cpf:</td>
						<td th:text="*{cpf}">cpf</td>
					</tr>
					<tr>
						<td>Endereço:</td>
						<td th:text="*{endereco}">endereco</td>
					</tr>
					<tr>
						<td>Cep:</td>
						<td th:text="*{cep}">cep</td>
					</tr>
					<tr>
						<td>Cidade:</td>
						<td th:each="c : ${cidades}" th:if="${c.id} == *{idCidade}" th:text="${c.nome}">
							cidade
				        </td>
					</tr>
					<tr>
						<td>Bairro:</td>
						<td th:text="*{bairro}">bairro</td>
					</tr>
					<tr>
						<td>Situação:</td>
						<td>
							<span class="label" th:classappend="*{ativo} ? 'label-success' : 'label-danger'" th:text="*{situacao}">Exibe Situação</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</section>
</body>
</html>