<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="@{/master}">
<head>
<meta charset="UTF-8" />
<title>Clientes Ativos</title>
</head>
<body>
	<section layout:fragment="content" th:if="${not #lists.isEmpty(clientes)}">
		
		<div class="row">
			<div class="col-lg-12">
				<form class="form-inline" th:action="@{/Clientes/Buscar}" method="post">
				  <div class="form-group">
				    <input type="text" class="form-control" name="nome" placeholder="Pesquisar por Nome" />
				  </div>
				  <input class="btn btn-default" type="submit" value="Pesquisar" />
				</form>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<div class="table-responsive">
					<table id="listaclientes" class="table table-responsive table-striped">
						<tr>
							<th>Nome</th>
							<th>Cpf</th>
							<th>Situação</th>
							<th>Detalhes</th>
							<th>Editar</th>
							<th>Efetuar Pedido</th>
						</tr>
						<tr th:each="cliente : ${clientes}">
							<td th:text="${cliente.nome}">Exibe Nome</td>
							<td th:text="${cliente.cpf}">Exibe Cpf</td>
							<td>
								<span class="label" th:classappend="${cliente.ativo} ? 'label-success' : 'label-danger'" th:text="${cliente.situacao}">Exibe Situação</span>
							</td>
							<td>
								<a class="btn btn-primary" th:href="@{|/Clientes/Detalhes/${cliente.id}|}">
									Detalhes
								</a>
							</td>
							<td>
								<a class="btn btn-warning" th:href="@{|/Clientes/Editar/${cliente.id}|}">
									Editar
								</a>
							</td>
							<td>
								<a th:if="${cliente.ativo}" class="btn btn-success" th:href="@{|/Pedidos/Novo/${cliente.id}|}">
									Novo Pedido
								</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</section>
</body>
</html>