<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="master">
<head>
<meta charset="UTF-8" />
<title>Detalhes do Pedido</title>
</head>
<body>
	<section layout:fragment="content" th:object="${pedido}">
	
		<div class="row">
			<div class="col-lg-5 text-left col-lg-offset-1">
				<h2>
					<span class="label label-default" th:text="*{cliente.nome}">Nome Cliente</span>
				</h2>
			</div>
			<div class="col-lg-5 text-right">
				<h2 th:if="${pedido.isPendente()}">
					<a class="label label-success" th:href="@{/Itens/Novo/} + *{idPedido}">Adicionar Item</a>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<table class="table table-striped">
					<tr>
						<th class="text-center">IDItem</th>
						<th class="text-center">IDProduto</th>
						<th class="text-center">Peso</th>
						<th class="text-center">Valor Total</th>
						<th class="text-center">Situacao</th>
						<th class="text-center"  th:if="*{isProcessando()}">
							<a class="btn btn-danger" th:if="*{temItensPendentes()}" th:href="@{/Itens/Processar/}+ *{idPedido}">
								Processar Todos
							</a>
						</th>
					</tr>
					<tr class="text-center" th:each="item : *{itens}">
						<td th:text="${item.idItem}"></td>
						<td th:text="${item.produto.servico.descricao} + '/' + ${item.produto.material.descricao}"></td>
						<td><span th:text="${item.peso}"></span> Kg</td>
						<td>R$ <span th:text="${item.valorTotal}"></span></td>
						<td th:text="${item.situacao}"></td>
						<td th:if="*{isProcessando()}">
							<a class="btn btn-primary" th:if="${item.isPendente()}" th:href="@{/Itens/Processar/}+ *{idPedido} + '/' + ${item.idItem}">
								Processar Item
							</a>
						</td>
					</tr>
				</table>
				<div class="row">
					<div class="col-lg-6 text-left">
						<div class="row">
							<div class="col-lg-12">Valor Bruto:<span th:text="*{valorBruto}"></span></div>
						</div>
						<div class="row">
							<div class="col-lg-12">Valor Desconto:<span th:text="*{valorDesconto}"></span></div>
						</div>
						<div class="row">
							<div class="col-lg-12">Valor Final:<span th:text="*{valorFinal}"></span></div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								Data Inclusão: <span th:text="${#dates.format(pedido.dataInclusao, 'dd/MM/yyyy')}"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">Situação:<span th:text="*{situacao}"></span></div>
						</div>
					</div>
					<div class="col-lg-6 text-right">
						<h2 th:if="${pedido.isPendente()}">
							<a class="label label-primary" th:href="@{/Pedidos/Processar/} + *{idPedido}">Processar Pedido</a>
						</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>