<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="master">
<head>
<meta charset="UTF-8" />
<title>Novo Pedido</title>
</head>
<body>
	<section layout:fragment="content" th:object="${pedido}">
	
		<!--<div th:if="${mensagem}" th:class="'col-lg-4 col-lg-offset-4 alert alert-success alert-dismissible fade in over'">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close" >
			  <span aria-hidden="true" >x</span>
			</button>
			<strong th:text="${mensagem}"></strong>
		</div>-->
	
		<div class="row">
			<div class="col-lg-5 text-left col-lg-offset-1">
				<h2>
					<span class="label label-primary" th:text="*{cliente.nome}">Nome Cliente</span>
				</h2>
			</div>
			<div class="col-lg-5 text-right">
				<h2>
					<a class="label label-success" th:href="@{/Itens/Novo}">Adicionar Item</a>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<table class="table table-striped">
					<tr>
						<th class="text-center">IDItem</th>
						<th class="text-center">IDProduto</th>
						<th class="text-center">Peso</th>
						<th class="text-center">Valor Total</th>
						<th></th>
					</tr>
					<tr th:each="item : *{itens}">
						<td th:text="${item.id}"></td>
						<td th:text="${item.produto}"></td>
						<td th:text="${item.peso}"></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	</section>
</body>
</html>