<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="master">
<head>
<meta charset="UTF-8" />
<title>Novo Pedido</title>
</head>
<body>
	<section layout:fragment="content" th:object="${pedido}">
		<div class="row">
			<div class="col-lg-5 text-left col-lg-offset-1">
				<h2>
					<span class="label label-primary" th:text="*{cliente.nome}">Nome Cliente</span>
				</h2>
			</div>
			<div class="col-lg-5 text-right">
				<h2>
					<a class="label label-success" th:href="@{/Itens/Novo}">Adicionar Item</a>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-9 col-lg-offset-1">
				<table class="table table-striped">
					<tr>
						<th class="text-center">IDItem</th>
						<th class="text-center">IDProduto</th>
						<th class="text-center">Peso</th>
						<th class="text-center">Valor Total</th>
						<th></th>
					</tr>
					<tr class="text-center" th:each="item : *{itens}">
						<td th:text="${item.idItem}"></td>
						<td th:text="${item.produto.servico.descricao} + '/' + ${item.produto.material.descricao}"></td>
						<td th:text="${item.peso} + Kg"></td>
						<td>R$ <span th:text="${item.valorTotal}"></span></td>
					</tr>
				</table>
				<div class="row">
					<div class="col-lg-5 col-lg-offset-1">
						<div class="row">
							<div class="col-lg-10 col-lg-offset-1">Valor Bruto:<span th:text="*{valorBruto}"></span></div>
						</div>
						<div class="row">
							<div class="col-lg-10 col-lg-offset-1">Valor Desconto:<span th:text="*{valorDesconto}"></span></div>
						</div>
						<div class="row">
							<div class="col-lg-10 col-lg-offset-1">Valor Final:<span th:text="*{valorFinal}"></span></div>
						</div>
					</div>
					<div class="col-lg-5 col-lg-offset-1">
						<h2>
							<a class="label label-primary" href="#">Processar Pedido</a>
						</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>