body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

<<<<<<< HEAD:src/modulo-04-c-sharp/dia-03/TrabalhoLocadora/Locadora/Locadora.UI.Web/Content/Site.css
.banner{
    margin-top: 25px;
}
=======
.color-white {
    color: #fff;
}

.bg-black {
    background-color: #000;
}

.fb-page {
    float: right;
}

.imagem-detalhe-jogo {
    width: 100%;
}

.imagem-selo-jogo {
    width: 32px;
}
>>>>>>> 8980eb81f849470e6a5433747236b8a3a82bdc8a:src/modulo-04-c-sharp/Locadora/Locadora.Web.MVC/Content/Site.css
